body{
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
}

.sec1{
	background-image: url(image/image1.jpg);
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

.sec2{
	background-image: url(image/image2.jpg);
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}


.sec3{
	background-image: url(image/image3.jpg);
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}


.sec4{
	background-image: url(image/image4.jpg);
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

.sec5{
	background-image: url(image/image5.jpg);
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

.SecText {
	padding: 50px 100px;
	height: auto;
}

.SecText h1{
	margin: 0;
	padding: 0;
	font-size: 28px;
	color: black;
}


.SecText p{
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: black;
}





